# Exclude the virtual environment
venv*

src/params.json

src/*.ipynb

**/*.swp

# Exclude pycache
**/__pycache__

# Exclude the paths.json file
src/paths.json

# Exclude results files
data/results*
figs/figure*

# Exclude operating system files
**/.DS_Store
**/.DS_Store?
